
.list-container{
  padding: 15px 30px;
}
.container-el-list{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  background: #fff;
  font-size: 13pt;
  cursor: pointer;
  padding: 20px;
  & > div{
    display: flex;
    color: #333;
  }
  .author{
    margin-left: 10px;
    color: #999
  }
  .date{
    text-transform: capitalize;
  }
  .trash-can{
    position: relative;
    z-index: 100;
    svg{
      visibility: hidden;
      opacity: 0;
      margin-left: 50px;
      height: 13pt;
    }
  }

  &:hover{
    background-color: #fafafa;
    .trash-can{
      svg{
        visibility: visible;
        opacity: 1;
      }
    }
  }
}